html, body, #wrapper {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
#wrapper td {
    vertical-align: middle;
    text-align: center;
}
p {
    color: white;
    font-family: 'Shrikhand', cursive;
    font-size: 23px;
    text-shadow: 2px 2px 2px #3b5998;
}
