.Container {
    text-align: center;
}

.Container:before {
    content: '';
    height: 100 % ;
    display: inline-block;
    vertical-align: middle;
}

.Content {
    display: inline-block;
    vertical-align: middle;
}
